<div class="layout-topbar">
    <div class="topbar-left">
        <a tabindex="0" class="menu-button" (click)="appMain.onMenuButtonClick($event)">
            <i class="pi pi-chevron-left"></i>
        </a>
        <span class="topbar-separator"></span>
        <ng-template ngFor let-item let-last="last" [ngForOf]="items">
            <span class="viewname" style="text-transform: uppercase">{{item.label}}</span>
        </ng-template>
        <img id="logo-mobile" class="mobile-logo" [src]="'assets/layout/images/logo-'+ (app.colorScheme === 'light' ? 'dark' : 'white') + '.svg'" alt="diamond-layout" />
    </div>

    <div class="topbar-right">
        <ul class="topbar-menu">



            <li class="profile-item" [ngClass]="{'active-menuitem fadeInDown': appMain.topbarUserMenuActive}">
                <a href="#" (click)="appMain.onTopbarUserMenuButtonClick($event)">
                    <img src="../../assets/img.png" alt="diamond-layout" class="profile-image"/>
                    <span class="profile-name">Admin </span>
                </a>
                <ul class="profile-menu fade-in-up">
                    <a href="#">
                        <li (click)="signOut()" routerLink="/login">
                            <i class="pi pi-power-off" (click)="signOut()" ></i>
                            <span>Logout</span>
                        </li>
                        </a>
                </ul>
            </li>


        </ul>
    </div>
</div>
