<div class="layout-dashboard">
    <div class="p-grid">
        <div class="p-col-12 p-md-6 p-xl-3">
            <div class="card no-gutter widget-overview-box widget-overview-box-1">
                            <span class="overview-icon">
                                <i class="pi pi-shopping-cart"></i>
                            </span>
                <span class="overview-title">Orders</span>
                <div class="p-grid overview-detail">
                    <div class="p-col-6">
                        <div class="overview-number">640</div>
                        <div class="overview-subtext">Pending</div>
                    </div>
                    <div class="p-col-6">
                        <div class="overview-number">1420</div>
                        <div class="overview-subtext">Completed</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-xl-3">
            <div class="card no-gutter widget-overview-box widget-overview-box-2">
                            <span class="overview-icon">
                                <i class="pi pi-dollar"></i>
                            </span>
                <span class="overview-title">Revenue</span>
                <div class="p-grid overview-detail">
                    <div class="p-col-6">
                        <div class="overview-number">$2,100</div>
                        <div class="overview-subtext">Expenses</div>
                    </div>
                    <div class="p-col-6">
                        <div class="overview-number">$9,640</div>
                        <div class="overview-subtext">Income</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-xl-3">
            <div class="card no-gutter widget-overview-box widget-overview-box-3">
                            <span class="overview-icon">
                                <i class="pi pi-users"></i>
                            </span>
                <span class="overview-title">Customers</span>
                <div class="p-grid overview-detail">
                    <div class="p-col-6">
                        <div class="overview-number">8272</div>
                        <div class="overview-subtext">Active</div>
                    </div>
                    <div class="p-col-6">
                        <div class="overview-number">25402</div>
                        <div class="overview-subtext">Registered</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-md-6 p-xl-3">
            <div class="card no-gutter widget-overview-box widget-overview-box-4">
                            <span class="overview-icon">
                                <i class="pi pi-comment"></i>
                            </span>
                <span class="overview-title">Comments</span>
                <div class="p-grid overview-detail">
                    <div class="p-col-6">
                        <div class="overview-number">12</div>
                        <div class="overview-subtext">New</div>
                    </div>
                    <div class="p-col-6">
                        <div class="overview-number">85</div>
                        <div class="overview-subtext">Responded</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="p-col-12 p-xl-6">
            <div class="card no-gutter">
                <div class="card-header">
                    <h4>Orders</h4>
                </div>

                <div class="p-grid">
                    <div class="p-col-12">
                        <div id="order-tabs-container" class="p-grid order-tabs">
                            <div class="order-tab order-tab-new p-col-6 p-md-3" data-label="New Orders" data-index="0" data-stroke="#BBDEFB" data-fill="rgba(100, 181, 246, 0.2)">
                                <i class="pi pi-plus-circle"></i>
                                <span class="order-label">New</span>
                                <i class="stat-detail-icon icon-arrow-right-circle"></i>
                                <img src="assets/demo/images/dashboard/graph-new.svg" alt="diamond-ng" />
                            </div>
                            <div class="order-tab order-tab-completed p-col-6 p-md-3" data-label="Completed Orders" data-index="1" data-stroke="#C5CAE9" data-fill="rgba(121, 134, 203, 0.2)">
                                <i class="pi pi-check-circle"></i>
                                <span class="order-label">Completed</span>
                                <i class="stat-detail-icon icon-arrow-right-circle"></i>
                                <img src="assets/demo/images/dashboard/graph-completed.svg" alt="diamond-ng" />
                            </div>
                            <div class="order-tab order-tab-refunded p-col-6 p-md-3" data-label="Refunded Orders" data-index="2" data-stroke="#B2DFDB" data-fill="rgba(224, 242, 241, 0.5)">
                                <i class="pi pi-refresh"></i>
                                <span class="order-label">Refunded</span>
                                <i class="stat-detail-icon icon-arrow-right-circle"></i>
                                <img src="assets/demo/images/dashboard/graph-refunded.svg" alt="diamond-ng" />
                            </div>
                            <div class="order-tab order-tab-cancelled p-col-6 p-md-3" data-label="Cancelled Orders" data-index="3" data-stroke="#B2EBF2" data-fill="rgba(224, 247, 250, 0.5)">
                                <i class="pi pi-times-circle"></i>
                                <span class="order-label">Cancelled</span>
                                <i class="stat-detail-icon icon-arrow-right-circle"></i>
                                <img src="assets/demo/images/dashboard/graph-cancelled.svg" alt="diamond-ng" />
                            </div>
                        </div>
                    </div>
                    <div class="p-col-12">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
