<div class="p-grid">
    <div class="p-col-12">
        <div class="card docs no-margin">

            <h1>Current Version</h1>
            <p>Angular 9 and PrimeNG 9</p>

            <h1>Dependencies</h1>
            <p>Roma has no direct dependency other than PrimeNG. More information about dependencies is available at <a href="https://www.primefaces.org/why-primeng-templates/">Why PrimeNG Templates</a> article.</p>

            <h1>Getting Started</h1>
            <p>Roma is a true native application template for Angular and is distributed as a CLI project. In case CLI is not installed already, use
                the command below to set it up.
            </p>

<pre class="doc-command">
npm install -g @angular/cli
</pre>

            <p>Once CLI is ready in your system, extract the contents of the Roma zip file distribution, cd to the directory,
            install the libraries from npm and then execute "ng serve" to run the application in your local environment.</p>
<pre class="doc-command">
cd roma
npm install
ng serve
</pre>

            <p>The application should run at http://localhost:4200/, you may now start with the development of your application.</p>

            <h1>Important CLI Commands</h1>
            <p>Following commands are derived from CLI.</p>
<pre class="doc-command">
Run 'ng serve' for a dev server. Navigate to `http://localhost:4200/`. The app will automatically reload if you change any of the source files.

Run 'ng generate component component-name' to generate a new component. You can also use `ng generate directive/pipe/service/class/module`.

Run 'ng build' to build the project. The build artifacts will be stored in the `dist/` directory. Use the `-prod` flag for a production build.

Run 'ng test' to execute the unit tests via [Karma](https://karma-runner.github.io).

Run 'ng e2e' to execute the end-to-end tests via [Protractor](http://www.protractortest.org/).

Run 'ng help' for more options.
</pre>

            <h1>Structure</h1>
            <p>Roma consists of 3 main parts; the application layout, layout resources and theme resources for PrimeNG components. <i>app.component.html</i> inside app folder is the html template for the base layout,
                required resources for the layout are placed inside the <i>src/assets/layout</i> folder and similarly theme resources are inside <i>src/assets/theme</i> folder.
            </p>

            <h1>Template</h1>
            <p>Main layout is the html template of the app.main.component.ts, it is divided into a couple of sections such as topbar, sidebar, right panel and footer. Here is the code for
                the main template. The component class app.main.component.ts implements the logic such as opening menus and managing layout modes.
            </p>
<pre>
<code class="language-markup" pCode>
&lt;div class="layout-wrapper" [ngClass]="&#123;'layout-horizontal': menuMode === 'horizontal',
    'layout-overlay': menuMode === 'overlay',
    'layout-static': menuMode === 'static',
    'layout-slim': menuMode === 'slim',
    'layout-menu-light': lightMenu === true,
    'layout-menu-dark': lightMenu === false,
    'layout-overlay-active': overlayMenuActive,
    'layout-mobile-active': staticMenuMobileActive,
    'layout-static-inactive': staticMenuDesktopInactive&#125;" (click)="onLayoutClick()"&gt;
    &lt;app-topbar&gt;&lt;/app-topbar&gt;

    &lt;app-menu&gt;&lt;/app-menu&gt;
    &lt;app-right-menu&gt;&lt;/app-right-menu&gt;

    &lt;div class="layout-main"&gt;
        &lt;div class="layout-content"&gt;
            &lt;router-outlet&gt;&lt;/router-outlet&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;app-config&gt;&lt;/app-config&gt;
    &lt;div class="layout-footer"&gt;
        &lt;app-footer&gt;&lt;/app-footer&gt;
    &lt;/div&gt;
    &lt;div class="layout-content-mask"&gt;&lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

            <h1>Menu</h1>
            <p>Menu is a separate component defined in app.menu.component.ts file based on PrimeNG MenuModel API. In order to define the menuitems,
            navigate to this file and define your own model as a nested structure. Here is the menu component from the sample application.</p>

<div style="height:400px;overflow: auto;">
<pre>
<code class="language-javascript" pCode>
import &#123; Component, OnInit &#125; from '@angular/core';
import &#123; trigger, state, style, transition, animate &#125; from '@angular/animations';
import &#123; AppMainComponent &#125; from './app.main.component';

@Component(&#123;
    selector: 'app-menu',
    templateUrl: './app.menu.component.html',
    animations: [
        trigger('inline', [
            state('hiddenAnimated', style(&#123;
                height: '0px',
                overflow: 'hidden'
            &#125;)),
            state('visibleAnimated', style(&#123;
                height: '*',
            &#125;)),
            transition('visibleAnimated => hiddenAnimated', animate('400ms cubic-bezier(0.86, 0, 0.07, 1)')),
            transition('hiddenAnimated => visibleAnimated', animate('400ms cubic-bezier(0.86, 0, 0.07, 1)'))
        ])
    ]
&#125;)
export class AppMenuComponent implements OnInit, AfterViewInit &#123;

    model: any[];

    inlineModel: any[];

    constructor(public app: AppMainComponent) &#123; &#125;

    ngOnInit() &#123;
        this.model = [
            &#123; label: 'Dashboard', icon: 'pi pi-fw pi-home', routerLink: ['/']&#125;,
            &#123;
                label: 'Components', icon: 'pi pi-fw pi-star', routerLink: ['/components'],
                items: [
                    &#123; label: 'Sample Page', icon: 'pi pi-fw pi-th-large', routerLink: ['/components/sample']  &#125;,
                    &#123; label: 'Forms', icon: 'pi pi-fw pi-file', routerLink: ['/components/forms'] &#125;,
                    &#123; label: 'Data', icon: 'pi pi-fw pi-table', routerLink: ['/components/data'] &#125;,
                    &#123; label: 'Panels', icon: 'pi pi-fw pi-list', routerLink: ['/components/panels'] &#125;,
                    &#123; label: 'Overlays', icon: 'pi pi-fw pi-clone', routerLink: ['/components/overlays'] &#125;,
                    &#123; label: 'Menus', icon: 'pi pi-fw pi-plus', routerLink: ['/components/menus'] &#125;,
                    &#123; label: 'Messages', icon: 'pi pi-fw pi-envelope', routerLink: ['/components/messages'] &#125;,
                    &#123; label: 'Charts', icon: 'pi pi-fw pi-chart-bar', routerLink: ['/components/charts'] &#125;,
                    &#123; label: 'File', icon: 'pi pi-fw pi-upload', routerLink: ['/components/file'] &#125;,
                    &#123; label: 'Misc', icon: 'pi pi-fw pi-spinner', routerLink: ['/components/misc'] &#125;
                ]
            &#125;,
            &#123;
                label: 'Pages', icon: 'pi pi-fw pi-copy', routerLink: ['/pages'],
                items: [
                    &#123; label: 'Empty', icon: 'pi pi-fw pi-clone', routerLink: ['/pages/empty'] &#125;,
                    &#123; label: 'Login', icon: 'pi pi-fw pi-sign-in', routerLink: ['/login'], target: '_blank' &#125;,
                    &#123; label: 'Landing', icon: 'pi pi-fw pi-globe', url: 'assets/pages/landing.html', target: '_blank' &#125;,
                    &#123; label: 'Error', icon: 'pi pi-fw pi-exclamation-triangle', routerLink: ['/error'], target: '_blank' &#125;,
                    &#123; label: '404', icon: 'pi pi-fw pi-times', routerLink: ['/accessdenied'], target: '_blank' &#125;,
                    &#123;
                        label: 'Access Denied', icon: 'pi pi-fw pi-ban',
                        routerLink: ['/access'], target: '_blank'
                    &#125;
                ]
            &#125;,
            &#123;
                label: 'Hierarchy', icon: 'pi pi-fw pi-sitemap',
                items: [
                    &#123;
                        label: 'Submenu 1', icon: 'pi pi-fw pi-sign-in',
                        items: [
                            &#123;
                                label: 'Submenu 1.1', icon: 'pi pi-fw pi-sign-in',
                                items: [
                                    &#123; label: 'Submenu 1.1.1', icon: 'pi pi-fw pi-sign-in' &#125;,
                                    &#123; label: 'Submenu 1.1.2', icon: 'pi pi-fw pi-sign-in' &#125;,
                                    &#123; label: 'Submenu 1.1.3', icon: 'pi pi-fw pi-sign-in' &#125;,
                                ]
                            &#125;,
                            &#123;
                                label: 'Submenu 1.2', icon: 'pi pi-fw pi-sign-in',
                                items: [
                                    &#123; label: 'Submenu 1.2.1', icon: 'pi pi-fw pi-sign-in' &#125;
                                ]
                            &#125;,
                        ]
                    &#125;,
                    &#123;
                        label: 'Submenu 2', icon: 'pi pi-fw pi-sign-in',
                        items: [
                            &#123;
                                label: 'Submenu 2.1', icon: 'pi pi-fw pi-sign-in',
                                items: [
                                    &#123; label: 'Submenu 2.1.1', icon: 'pi pi-fw pi-sign-in' &#125;,
                                    &#123; label: 'Submenu 2.1.2', icon: 'pi pi-fw pi-sign-in' &#125;,
                                ]
                            &#125;,
                            &#123;
                                label: 'Submenu 2.2', icon: 'pi pi-fw pi-sign-in',
                                items: [
                                    &#123; label: 'Submenu 2.2.1', icon: 'pi pi-fw pi-sign-in' &#125;,
                                ]
                            &#125;,
                        ]
                    &#125;
                ]
            &#125;,
            &#123;
                label: 'Docs', icon: 'pi pi-fw pi-file', routerLink: ['/documentation']
            &#125;,
            &#123;
                label: 'Buy Now', icon: 'pi pi-fw pi-money-bill', url: ['https://www.primefaces.org/store']
            &#125;
        ];
        this.inlineModel = [
            &#123;
                label: 'Profile', icon: 'pi pi-fw pi-user'
            &#125;,
            &#123;
                label: 'Settings', icon: 'pi pi-fw pi-cog'
            &#125;,
            &#123;
                label: 'Messages', icon: 'pi pi-fw pi-envelope'
            &#125;,
            &#123;
                label: 'Notifications', icon: 'pi pi-fw pi-bell'
            &#125;
        ];
    &#125;
&#125;
</code>
</pre>
</div>

            <h1>Integration with an Existing CLI Project</h1>
            <p>To setup Roma in an existing project, follow the steps below;</p>

<ul>
    <li>Copy the <i>src/assets</i> folder to your projects folder with the same name</li>
    <li>Copy all app.* files and breadcrumb.service.ts to the src/app folder of your application.</li>
</ul>

          <p>Install PrimeNG</p>
<pre class="doc-command">
npm install primeng@latest --save
npm install primeicons@latest --save
</pre>

          <p>Add PrimeNG CSS at styles section in angular.json.</p>

<pre>
<code class="language-json" pCode>
"styles": [
    "../node_modules/primeng/resources/primeng.min.css",        //required: PrimeNG components
    "node_modules/primeicons/primeicons.css",                   //required: PrimeIcons
    "styles.scss"                                               //your styles and overrides
],
</code>
</pre>

            <p>Last part is adding theme and layout css files, in the CLI app they are defined using link tags in index.html so the demo can switch them on
            the fly by changing the path however if this is not a requirement, you may also add them to the styles configuration above so they go inside the bundle.</p>

            <h1>Theme</h1>
            <p>Roma provides 15 PrimeNG themes out of the box. Setup of a theme is simple by including the css of theme
                to your bundle that are located inside assets/theme folder such as assets/theme/theme-amber-teal.css.</p>

            <ul>
                <li>blue</li>
                <li>green</li>
                <li>orange</li>
                <li>magenta</li>
                <li>bluegrey</li>
                <li>deeppurple</li>
                <li>brown</li>
                <li>lime</li>
                <li>rose</li>
                <li>cyan</li>
                <li>teal</li>
                <li>deeporange</li>
                <li>indigo</li>
                <li>pink</li>
                <li>purple</li>
            </ul>

            <p>A custom theme can be developed by the following steps.</p>
            <ul>
                <li>Choose a custom theme name such as "mytheme".</li>
                <li>Create a folder named "mytheme" under <i>assets/theme folder</i>.</li>
                <li>Create a file such as theme.scss under <i>assets/theme/mytheme folder</i>.</li>
                <li>Define the variables listed below in your file and import the <i>../../sass/theme/_theme.scss</i> file.</li>
                <li>Build the scss to generate css</li>
                <li>Include the generated theme.css to your page.</li>
            </ul>

            <p>Here are the variables required to create a theme.</p>
<pre>
<code class="language-css" pCode>
$primaryDarkestColor:#024f9e;
$primaryDarkerColor:#0772b3;
$primaryColor:#0f97c7;
$primaryLighterColor:#1cb9d7;
$primaryLightestColor:#2ed7e4;
$primaryColorText:#ffffff;

@import '../sass/theme/_theme_variables';
@import '../sass/theme_core/_core';
</code>
</pre>

            <p> An example sass command to compile the css would be;</p>

<pre class="doc-command">
sass --update src/assets/theme/mytheme/theme.scss:src/assets/theme/mytheme/theme.css
</pre>

            <p>Watch mode is handy to avoid compiling everytime when a change is made, instead use the following command
            so that sass generates the file whenever you make a customization. This builds all css files whenever a change is made to any scss file.</p>
<pre class="doc-command">
sass --watch src/assets/theme/mytheme/theme.scss:src/assets/theme/mytheme/theme.css
</pre>

            <p>Same can also be applied to layout itself;</p>
            <ul>
                <li>Choose a layout name such as layout-myown.</li>
                <li>Create an empty file named layout-myown.scss inside <i>assets/layout/css</i> folder.</li>
                <li>Define the variables listed below and import the <i>/sass/layout/_layout.scss</i> file.</li>
                <li>Build the scss to generate css</li>
                <li>Serve the css by importing it using a link tag or a bundler.</li>
            </ul>

            <p>Here are the variables required to create a layout.</p>
<pre>
<code class="language-css" pCode>
$primaryColor:#0f97c7;
$primaryTextColor:#ffffff;

@import '../../sass/layout/_layout';
</code>
</pre>

            <h1>Common SASS Variables</h1>
            <p>In case you'd like to customize the shared variables, the _variables.scss files are where the options are defined for both layout and theme.</p>

<h3>sass/_variables.scss</h3>
<pre>
<code class="language-css" pCode>
$fontFamily:'Inter UI',sans-serif;
$fontSize:13px;
$textColor:#252529;
$textSecondaryColor:#65656a;
$borderRadius:2px;
$transitionDuration:.2s;
</code>
</pre>

<h3>sass/layout/_variables</h3>
<pre>
<code class="language-css" pCode>
@import '../_variables';

//main
$bodyBgColor:#f4f4f4;

$footerBgColor:#ffffff;
$footerBorderColor:#ebebef;

//light menu
$menuBgColor:#ffffff;
$menuBorderColor:#ebebef;
$menuitemTextColor:#666666;
$menuitemIconColor:#65656a;
$menuitemTextHoverColor:#252529;
$menuitemIconHoverColor:#252529;
$menuitemHoverBgColor:#eaeaea;
$menuitemSeparator:#ebebef;

//dark menu
$darkMenuBgColor:#252529;
$darkMenuBorderColor:#252529;
$darkMenuitemTextColor:#8b8b90;
$darkMenuitemIconColor:#a6a6a6;
$darkMenuitemTextHoverColor:#ebebef;
$darkMenuitemIconHoverColor:#ebebef;
$darkMenuitemHoverBgColor:#2e2e33;
$darkMenuitemSeparator:#424247;

$slimMenuTooltipBgColor:#333333;
$slimMenuTooltipTextColor:#c8c8c8;
</code>
</pre>

<h3>sass/theme/_theme_variables</h3>
<div style="height:400px;overflow: auto;">
<pre>
<code class="language-css" pCode>
@import '../_variables';

//Global
$primeIconFontSize:1.25em;

//anchors
$linkColor:$primaryColor;
$linkHoverColor:$primaryDarkerColor;
$linkActiveColor:$primaryDarkestColor;

//highlight
$highlightBgColor:$primaryColor;
$highlightColorText:$primaryColorText;

//input field (e.g. inputtext, spinner, inputmask)
$inputPadding:.5em;
$inputBgColor:#ffffff;
$inputBorder:1px solid #a9a9ae;
$inputHoverBorderColor:#525257;
$inputFocusBorderColor:$primaryColor;
$inputFocusShadow:0 0 0 0.2em $primaryLightestColor;
$inputErrorBorder:1px solid #e0284f;
$inputPlaceholderTextColor:$textSecondaryColor;
$inputTransition:border-color $transitionDuration,box-shadow $transitionDuration;

//input groups
$inputGroupBorderColor:#a9a9ae;
$inputGroupBgColor:#ffffff;
$inputGroupTextColor:$textColor;

//input lists (e.g. dropdown, autocomplete, multiselect, orderlist)
$inputListMinWidth:12em;
$inputListBgColor:#ffffff;
$inputListPadding:.65em 0;
$inputListBorder:1px solid #a9a9ae;

$inputListItemPadding:.5em .75em;
$inputListItemBgColor:transparent;
$inputListItemTextColor:$textColor;
$inputListItemHoverBgColor:#eaeaea;
$inputListItemHoverTextColor:$primaryColor;
$inputListItemHighlightBgColor:$highlightBgColor;
$inputListItemHighlightTextColor:$highlightColorText;
$inputListItemBorder:0 none;
$inputListItemMargin:0;

$inputListItemDividerColor:#ffffff;
$inputListHeaderPaddingTop:.5em;
$inputListHeaderPaddingLeft:.75em;
$inputListHeaderPaddingRight:.75em;
$inputListHeaderPaddingBottom:.5em;
$inputListHeaderMargin:0;
$inputListHeaderBgColor:#ffffff;
$inputListHeaderTextColor:$textColor;
$inputListHeaderBorder:1px solid #d8d8dc;

$inputListHeaderSearchIconColor:$textSecondaryColor;
$inputListHeaderCloseIconColor:$textColor;
$inputListHeaderCloseIconHoverColor:$primaryColor;
$inputListHeaderCloseIconTransition:color $transitionDuration;

//inputs with panels (e.g. password)
$inputContentPanelPadding:.75em;
$inputContentPanelBgColor:#ffffff;
$inputContentPanelTextColor:$textColor;

//inputs with overlays (e.g. autocomplete, dropdown, multiselect)
$inputOverlayBorder:0 none;
$inputOverlayShadow:0 0 10px 0 rgba(0, 0, 0, 0.16);

//input dropdowns (e.g. multiselect, dropdown)
$inputDropdownIconColor:$textSecondaryColor;

//button
$buttonTextOnlyPadding:.5em 1em;
$buttonWithLeftIconPadding:.5em 1em .5em 2em;
$buttonWithRightIconPadding:.5em 2em .5em 1em;
$buttonIconOnlyPadding:.5em;
$buttonIconOnlyWidth:2.143em;

$buttonBgColor:$primaryColor;
$buttonBorder:1px solid $primaryColor;
$buttonTextColor:$primaryColorText;

$buttonHoverBgColor:$primaryLighterColor;
$buttonHoverTextColor:$primaryColorText;
$buttonHoverBorderColor:$primaryLighterColor;

$buttonActiveBgColor:$primaryDarkerColor;
$buttonActiveTextColor:$primaryColorText;
$buttonActiveBorderColor:$primaryDarkerColor;

$buttonFocusOutline:0 none;
$buttonFocusOutlineOffset:0px;
$buttonFocusShadow:0 0 0 0.2em $primaryLightestColor;
$buttonTransition:background-color $transitionDuration,box-shadow $transitionDuration;
$raisedButtonShadow:0 2px 4px 0 rgba(0, 0, 0, 0.10);
$roundedButtonBorderRadius:1em;

$secondaryButtonBgColor:$primaryColorText;
$secondaryButtonBorder:1px solid $primaryColor;
$secondaryButtonTextColor:$primaryColor;
$secondaryButtonHoverBgColor:$primaryLighterColor;
$secondaryButtonHoverTextColor:$primaryColorText;
$secondaryButtonHoverBorderColor:$primaryLighterColor;
$secondaryButtonActiveBgColor:$primaryDarkerColor;
$secondaryButtonActiveTextColor:$primaryColorText;
$secondaryButtonActiveBorderColor:$primaryDarkerColor;
$secondaryButtonFocusShadow:$buttonFocusShadow;

$infoButtonBgColor:#3f8efc;
$infoButtonTextColor:#ffffff;
$infoButtonBorder:1px solid #3f8efc;
$infoButtonHoverBgColor:#54ccff;
$infoButtonHoverTextColor:#ffffff;
$infoButtonHoverBorderColor:#54ccff;
$infoButtonActiveBgColor:#0c54b8;
$infoButtonActiveTextColor:#ffffff;
$infoButtonActiveBorderColor:#0c54b8;
$infoButtonFocusShadow:0 0 0 0.2em #6fd4ff;

$successButtonBgColor:#0fc763;
$successButtonTextColor:#ffffff;
$successButtonBorder:1px solid #0fc763;
$successButtonHoverBgColor:#31e885;
$successButtonHoverTextColor:#ffffff;
$successButtonHoverBorderColor:#31e885;
$successButtonActiveBgColor:#0a9c4d;
$successButtonActiveTextColor:#ffffff;
$successButtonActiveBorderColor:#0a9c4d;
$successButtonFocusShadow:0 0 0 0.2em #72ffb3;

$warningButtonBgColor:#f5b064;
$warningButtonTextColor:#ffffff;
$warningButtonBorder:1px solid #f5b064;
$warningButtonHoverBgColor:#ffbf3c;
$warningButtonHoverTextColor:#ffffff;
$warningButtonHoverBorderColor:#ffbf3c;
$warningButtonActiveBgColor:#cb7d27;
$warningButtonActiveTextColor:#ffffff;
$warningButtonActiveBorderColor:#cb7d27;
$warningButtonFocusShadow:0 0 0 0.2em #fad78e;

$dangerButtonBgColor:#f56f64;
$dangerButtonTextColor:#ffffff;
$dangerButtonBorder:1px solid #f56f64;
$dangerButtonHoverBgColor:#ff4545;
$dangerButtonHoverTextColor:#ffffff;
$dangerButtonHoverBorderColor:#ff4545;
$dangerButtonActiveBgColor:#a8281e;
$dangerButtonActiveTextColor:#ffffff;
$dangerButtonActiveBorderColor:#a8281e;
$dangerButtonFocusShadow:0 0 0 0.2em #ff4545;

//checkbox
$checkboxWidth:20px;
$checkboxHeight:20px;
$checkboxActiveBorderColor:$primaryColor;
$checkboxActiveBgColor:$primaryColor;
$checkboxActiveTextColor:$primaryColorText;
$checkboxActiveHoverBgColor:$primaryLighterColor;
$checkboxActiveHoverTextColor:$primaryColorText;
$checkboxActiveHoverBorderColor:$primaryColor;
$checkboxActiveFocusBgColor:$primaryColor;
$checkboxActiveFocusTextColor:$primaryColorText;
$checkboxActiveFocusBorderColor:$primaryColor;
$checkboxFocusBgColor:$inputBgColor;
$checkboxFocusTextColor:$primaryColor;
$checkboxFocusBorderColor:$inputBorder;
$checkboxFocusShadow:0 0 0 0.2em $primaryLightestColor;
$checkboxTransition:background-color $transitionDuration, border-color $transitionDuration, box-shadow $transitionDuration;

//radiobutton
$radiobuttonWidth:20px;
$radiobuttonHeight:20px;
$radiobuttonActiveBorderColor:$primaryColor;
$radiobuttonActiveBgColor:$primaryColor;
$radiobuttonActiveTextColor:$primaryColorText;
$radiobuttonActiveHoverBgColor:$primaryLighterColor;
$radiobuttonActiveHoverTextColor:$primaryColorText;
$radiobuttonActiveHoverBorderColor:$primaryColor;
$radiobuttonActiveFocusBgColor:$primaryColor;
$radiobuttonActiveFocusTextColor:$primaryColorText;
$radiobuttonActiveFocusBorderColor:$primaryColor;
$radiobuttonFocusBgColor:$inputBgColor;
$radiobuttonFocusTextColor:$primaryColor;
$radiobuttonFocusBorderColor:$inputBorder;
$radiobuttonFocusShadow:0 0 0 0.2em $primaryLightestColor;
$radiobuttonTransition:background-color $transitionDuration, border-color $transitionDuration, box-shadow $transitionDuration;

//togglebutton
$toggleButtonBgColor:#eaeaea;
$toggleButtonBorder:1px solid #eaeaea;
$toggleButtonTextColor:$textColor;
$toggleButtonIconColor:$textColor;
$toggleButtonHoverBgColor:#eaeaea;
$toggleButtonHoverBorderColor:#eaeaea;
$toggleButtonHoverTextColor:$primaryColor;
$toggleButtonHoverIconColor:$primaryColor;
$toggleButtonActiveBgColor:$primaryColor;
$toggleButtonActiveBorderColor:$primaryColor;
$toggleButtonActiveTextColor:$primaryColorText;
$toggleButtonActiveIconColor:$primaryColorText;
$toggleButtonActiveHoverBgColor:$primaryLighterColor;
$toggleButtonActiveHoverBorderColor:$primaryLighterColor;
$toggleButtonActiveHoverTextColor:$primaryColorText;
$toggleButtonActiveHoverIconColor:$primaryColorText;
$toggleButtonFocusOutline:$buttonFocusShadow;
$toggleButtonFocusBgColor:#eaeaea;
$toggleButtonFocusBorderColor:#eaeaea;
$toggleButtonFocusTextColor:$primaryColor;
$toggleButtonFocusIconColor:$primaryColor;
$toggleButtonActiveFocusBgColor:$primaryLighterColor;
$toggleButtonActiveFocusBorderColor:$primaryLighterColor;
$toggleButtonActiveFocusTextColor:$primaryColorText;
$toggleButtonActiveFocusIconColor:$primaryColorText;

//inplace
$inplacePadding:.5em;
$inplaceHoverBgColor:#ebebef;
$inplaceHoverTextColor:$textColor;
$inplaceTransition:background-color $transitionDuration;

//rating
$ratingTransition:color $transitionDuration;
$ratingCancelIconColor:#e0284f;
$ratingCancelHoverIconColor:#e0284f;
$ratingIconFontSize:1.5em;
$ratingStarIconColor:$textColor;
$ratingStarIconHoverColor:$primaryColor;

//slider
$sliderBgColor:#d8d8dc;
$sliderBorder:0 none;
$sliderHeight:.286em;
$sliderWidth:0.286em;
$sliderHandleWidth:1.5em;
$sliderHandleHeight:1.5em;
$sliderHandleBgColor:$primaryColor;
$sliderHandleBorder:2px solid $primaryColor;
$sliderHandleBorderRadius:50%;
$sliderHandleHoverBorder:2px solid $primaryColor;
$sliderHandleHoverBgColor:$primaryLighterColor;
$sliderHandleTransition:background-color $transitionDuration;
$sliderRangeBgColor:$primaryColor;

//calendar
$calendarWidth:20em;
$calendarNavIconColor:$textSecondaryColor;
$calendarNavIconHoverColor:$textColor;
$calendarNavIconTransition:color $transitionDuration;
$calendarPadding:0.857em;
$calendarTableMargin:0.857em 0 0 0;
$calendarHeaderCellPadding:.286em;
$calendarCellDatePadding:.286em;
$calendarCellDateHoverBgColor:#ebebef;
$calendarCellDateBorderRadius:$borderRadius;
$calendarCellDateSelectedBgColor:$primaryColor;
$calendarCellDateSelectedTextColor:$primaryColorText;
$calendarCellDateTodayBgColor:$primaryColor;
$calendarCellDateTodayTextColor:$primaryColorText;
$calendarTimePickerDivider: 1px solid #ebebef;
$calendarTimePickerPadding:.75em 1.25em .75em .75em;
$calendarTimePickerIconColor:$textSecondaryColor;
$calendarTimePickerIconFontSize:1.286em;
$calendarTimePickerTimeFontSize:1.286em;
$calendarTimePickerIconHoverColor:$textColor;
$calendarButtonBarDivider: 1px solid #ebebef;
$calendarMultipleMonthDivider: 1px solid #ebebef;

//spinner
$spinnerButtonWidth:1.5em;

//input switch
$inputSwitchWidth:2.615em;
$inputSwitchHeight:1.077em;
$inputSwitchBorderRadius:30px;
$inputSwitchTransition:background-color $transitionDuration;
$inputSwitchSliderOffBgColor:$inputBgColor;
$inputSwitchHandleOffBgColor:$textSecondaryColor;
$inputSwitchSliderOffHoverBgColor:$inputBgColor;
$inputSwitchSliderOffFocusBgColor:$inputBgColor;
$inputSwitchSliderOnBgColor:$primaryColor;
$inputSwitchSliderOnHoverBgColor:$primaryColor;
$inputSwitchHandleOnBgColor:$primaryDarkerColor;
$inputSwitchSliderOnFocusBgColor:$primaryColor;

//panel common (e.g. accordion, panel, tabview)
$panelHeaderBorder:1px solid #d8d8dc;
$panelHeaderBgColor:#ffffff;
$panelHeaderTextColor:$textColor;
$panelHeaderIconColor:$textSecondaryColor;
$panelHeaderIconHoverColor:$textColor;
$panelHeaderIconTransition:color $transitionDuration;
$panelHeaderFontWeight:500;
$panelHeaderPadding:.857em 1em;
$panelContentBorder:1px solid #d8d8dc;
$panelContentBgColor:#ffffff;
$panelContentTextColor:$textColor;
$panelContentPadding:0.571em 1em;
$panelContentLineHeight:1.5;
$panelFooterBorder:1px solid #d8d8dc;
$panelFooterBgColor:#ffffff;
$panelFooterTextColor:$textColor;
$panelFooterPadding:0.571em 1em;
$panelHeaderHoverBgColor:#eaeaea;
$panelHeaderHoverBorder:1px solid #d8d8dc;
$panelHeaderHoverTextColor:$textColor;
$panelHeaderHoverIconColor:$textColor;
$panelHeaderActiveBgColor:#ffffff;
$panelHeaderActiveBorder:1px solid #d8d8dc;
$panelHeaderActiveTextColor:$primaryColor;
$panelHeaderActiveIconColor:$primaryColor;
$panelHeaderActiveHoverBgColor:#eaeaea;
$panelHeaderActiveHoverBorder:1px solid #d8d8dc;
$panelHeaderActiveHoverTextColor:$primaryColor;
$panelHeaderActiveHoverIconColor:$primaryColor;
$panelHeaderTransition:background-color $transitionDuration, box-shadow $transitionDuration;

//accordion
$accordionSpacing:2px;

//tabview
$tabsNavBorder:0 none;
$tabsNavBgColor:#ffffff;
$tabHeaderSpacing:.214em;

//scrollpanel
$scrollPanelHandleBgColor:#dadada;
$scrollPanelTrackBorder:0 none;
$scrollPanelTrackBgColor:#f8f8f8;

//card
$cardShadow:0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);

//paginator
$paginatorBgColor:#ffffff;
$paginatorBorder:1px solid #d8d8dc;
$paginatorPadding:.25em 0;
$paginatorIconColor:$textSecondaryColor;
$paginatorElementWidth:2.286em;
$paginatorElementHeight:2.286em;
$paginatorElementHoverBgColor:#eaeaea;
$paginatorElementHoverIconColor:$textColor;
$paginatorElementBorderRadius:$borderRadius;
$paginatorElementMargin:0 .125em;
$paginatorElementPadding:0;
$paginatorElementBorder:1px solid transparent;

//table
$tableCaptionFontWeight:500;
$tableSummaryFontWeight:500;
$tableHeaderCellPadding:.75em 1.214em;
$tableHeaderCellBgColor:#ffffff;
$tableHeaderCellTextColor:$textColor;
$tableHeaderCellFontWeight:500;
$tableHeaderCellBorder:1px solid #d8d8dc;
$tableHeaderCellHoverBgColor:#eaeaea;
$tableHeaderCellHoverTextColor:$textColor;
$tableHeaderCellIconColor:$textColor;
$tableHeaderCellHoverIconColor:$textColor;
$tableBodyRowBgColor:#ffffff;
$tableBodyRowTextColor:$textColor;
$tableBodyRowEvenBgColor:#f8f8f8;
$tableBodyRowHoverBgColor:#eaeaea;
$tableBodyRowHoverTextColor:$textColor;
$tableBodyCellBorder:1px solid #d8d8dc;
$tableBodyCellPadding:.75em 1.214em;
$tableFooterCellPadding:.75em 1.214em;
$tableFooterCellBgColor:#ffffff;
$tableFooterCellTextColor:$textColor;
$tableFooterCellFontWeight:500;
$tableFooterCellBorder:1px solid #d8d8dc;
$tableResizerHelperBgColor:$primaryColor;

//schedule
$scheduleEventBgColor:$primaryColor;
$scheduleEventBorder:1px solid $primaryColor;
$scheduleEventTextColor:$primaryColorText;

//tree
$treeNodePadding:0.143em 0;
$treeNodeLabelPadding:0.286em;
$treeNodeContentSpacing:0.143em;

//lightbox
$lightBoxNavIconFontSize:3em;
$lightBoxNavIconColor:#ffffff;

//org chart
$organizationChartConnectorColor:#c8c8c8;

//messages
$messagesMargin:1em 0;
$messagesPadding:1em;
$messagesIconFontSize:1.714em;
$messageCloseIconFontSize:1.5em;

//message
$messagePadding:$inputPadding;
$messageMargin: 0;
$messageIconFontSize: 1.25em;
$messageTextFontSize: 1em;

//toast
$toastShadow: 0 3px .5em 0 rgba(0, 0, 0, 0.16);
$toastMessageMargin:0 0 1em 0;

//severities
$infoMessageBgColor:#1cb9d7;
$infoMessageBorder:1px solid #1cb9d7;
$infoMessageTextColor:#ffffff;
$infoMessageIconColor:#ffffff;
$successMessageBgColor:#34CE83;
$successMessageBorder:1px solid #34CE83;
$successMessageTextColor:#ffffff;
$successMessageIconColor:#ffffff;
$warnMessageBgColor:#f5b064;
$warnMessageBorder:1px solid #f5b064;
$warnMessageTextColor:#ffffff;
$warnMessageIconColor:#ffffff;
$errorMessageBgColor:#f56f64;
$errorMessageBorder:1px solid #f56f64;
$errorMessageTextColor:#ffffff;
$errorMessageIconColor:#ffffff;

//growl
$growlTopLocation:70px;
$growlIconFontSize:3.5em;
$growlMessageTextMargin: 0 0 0 4em;
$growlMargin:0 0 1em 0;
$growlPadding:1em;
$growlShadow:0 3px .5em 0 rgba(0, 0, 0, 0.16);
$growlOpacity:.9;

//overlays
$overlayContentBorderColor:#c8c8c8;
$overlayContentBorder:0 none;
$overlayContainerShadow:0 0 10px 0 rgba(0, 0, 0, 0.16);

//dialog
$dialogHeaderPadding:1.5em;
$confirmDialogPadding:1.5em;

//overlay panel
$overlayPanelCloseIconBgColor:$primaryColor;
$overlayPanelCloseIconColor:$primaryColorText;
$overlayPanelCloseIconHoverBgColor:$primaryLighterColor;
$overlayPanelCloseIconHoverColor:$primaryColorText;

//tooltip
$tooltipBgColor:#252529;
$tooltipTextColor:#ffffff;
$tooltipPadding:$inputPadding;

//steps
$stepsItemBgColor:#ffffff;
$stepsItemBorder:1px solid #d8d8dc;
$stepsItemNumberColor:$textColor;
$stepsItemTextColor:$textSecondaryColor;
$stepsItemActiveBorder:1px solid $primaryColor;
$stepsItemWidth:2em;
$stepsItemHeight:2em;

//progressbar
$progressBarHeight:1.714em;
$progressBarBorder:0 none;
$progressBarBgColor:#efefef;
$progressBarValueBgColor:$primaryColor;

//menu (e.g. menu, menubar, tieredmenu)
$menuBgColor:#ffffff;
$menuBorder:1px solid #d8d8dc;
$menuPadding:0;
$menuTextColor:$textColor;
$menuitemPadding:.571em .857em;
$menuitemMargin:0;
$menuitemTextColor:$textColor;
$menuitemIconColor:$textSecondaryColor;
$menuitemHoverTextColor:$textColor;
$menuitemHoverIconColor:$textColor;
$menuitemHoverBgColor:#eaeaea;
$menuitemActiveTextColor:$primaryColorText;
$menuitemActiveIconColor:$primaryColorText;
$menuitemActiveBgColor:$primaryColor;
$submenuHeaderMargin: 0;
$submenuPadding: 0;
$overlayMenuBorder:0 none;
$overlayMenuShadow:0 0px 10px 0 rgba(0, 0, 0, 0.16);

//misc
$maskBgColor:rgba(0, 0, 0, 0.4);        //dialog mask
$inlineSpacing:.5em;                      //spacing between inline elements
$chipsItemMargin:0 .286em 0 0;            //autocomplete and chips token spacing
$dataIconColor:$textSecondaryColor;       //icon color of a data such as treetoggler, table expander
$dataIconHoverColor:$textColor;           //hover icon color of a data such as treetoggler, table expander

//general
$disabledOpacity:.5;                      //opacity of a disabled item
</code>
</pre>
</div>

            <h1>Menu Modes</h1>
            <p>Menu has 4 modes, static, overlay, slim and horizontal. Layout container element in app.component.html is used to define which mode to use by adding specific classes. List
            below indicates the style classes for each mode. </p>
            <ul>
                <li>Static: "layout-wrapper layout-static"</li>
                <li>Overlay: "layout-wrapper layout-overlay"</li>
                <li>Slim: "layout-wrapper layout-slim"</li>
                <li>Horizontal: "layout-wrapper layout-horizontal"</li>
            </ul>

            <p>For example to create a horizontal menu, the div element should be in following form;</p>
<pre>
<code class="language-markup" pCode>
&lt;div class="layout-wrapper layout-horizontal"&gt;
</code>
</pre>

            <p>It is also possible to leave the choice to the user by keeping the preference at a component and using an ngClass expression so that user can switch between modes. Sample
                    application has an example implementation of such use case. Refer to app.component.ts for an example.</p>

            <h1>Menu Colors</h1>
            <p>Menu offers two color options, "light" and "dark" which is defined using the main container element.</p>
            <ul>
                <li>Light: "layout-wrapper layout-menu-light"</li>
                <li>Dark: "layout-wrapper layout-menu-dark"</li>
            </ul>

            <h1>TopBar Colors</h1>
            <p>Roma provides 17 built-in color alternatives for the topbar which is defined by adding a style class to the "layout-wrapper" element such as "layout-topbar-dark".</p>

<pre>
<code class="language-markup" pCode>
&lt;div class="layout-wrapper layout-topbar-dark"&gt;
...
&lt;/div&gt;
</code>
</pre>
            <p>The full list of alternatives are;</p>
            <ul>
                <li>layout-topbar-light</li>
                <li>layout-topbar-dark</li>
                <li>layout-topbar-blue</li>
                <li>layout-topbar-green</li>
                <li>layout-topbar-orange</li>
                <li>layout-topbar-magenta</li>
                <li>layout-topbar-bluegrey</li>
                <li>layout-topbar-deeppurple</li>
                <li>layout-topbar-brown</li>
                <li>layout-topbar-lime</li>
                <li>layout-topbar-rose</li>
                <li>layout-topbar-cyan</li>
                <li>layout-topbar-teal</li>
                <li>layout-topbar-deeporange</li>
                <li>layout-topbar-indigo</li>
                <li>layout-topbar-pink</li>
                <li>layout-topbar-purple</li>
            </ul>

            <h1>Grid CSS</h1>
            <p>Roma uses PrimeNG Flex Grid CSS throughout the demos such as Dashboard, however any Grid library can be used with it since Roma Layout itself does not depend on PrimeFlex CSS.</p>

            <h1>RTL</h1>
            <p>Layout can be used in RTL orientation as well by adding "layout-rtl" to the "layout-wrapper" div in app.main.component.html.</p>

            <h1>Customizing Styles</h1>
            <p>It is suggested to add your customizations in the following sass files under the "sass/overrides" folder instead of adding them to the
                scss files under sass folder to avoid maintenance issues after an update.</p>

            <ul>
                <li><b>_layout_variables</b>: Variables of the layout.</li>
                <li><b>_layout_styles</b>: Styles for the layout.</li>
                <li><b>_theme_variables</b>: Variables of the theme.</li>
                <li><b>_theme_styles</b>: Styles for the theme.</li>
            </ul>

            <h1>Migration Guide</h1>

            <h4>8.0.1 to 9.0.0</h4>
            <p>Angular 9 and PrimeNG 9</p>
            <ul>
                <li>Update dependencies with <a href="https://angular.io/cli/update">ng update</a>.</li>
                <li>Update theme.css and layout.css files.</li>
                <li>Update app.menu.component.ts and app.menu.component.html while retaining your MenuModel.</li>
                <li>Include app.menuitem.component.ts under app folder and define it app.module.ts with declarations property.</li>
                <li>Include app.menu.service.ts under app folder and define it app.module.ts with providers property.</li>
            </ul>

            <h4>8.0.0 to 8.0.1</h4>
            <ul>
                <li>Update layout css files.</li>
                <li>Update theme css files.</li>
            </ul>

            <h4>7.0.0 to 8.0.0</h4>
            <ul>
                <li>Update your project to Angular 8 with ng update. View the official update guide -<a href="https://update.angular.io/">https://update.angular.io/</a>- for more information.</li>
                <li>Update app.menu.component.ts.</li>
                <li>Update layout css files.</li>
                <li>Update theme css files.</li>
            </ul>

            <h4>1.0.0 to 7.0.0</h4>
            <ul>
                <li>Update app.main.component.html.</li>
                <li>Update app.main.component.ts.</li>
                <li>Update app.menu.component.ts.</li>
                <li>Update theme css files.</li>
                <li>Update layout css files.</li>
            </ul>
        </div>
    </div>
</div>
